@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

//* font-family *//
$font: 'Plus Jakarta Sans', sans-serif;

//* header font-size *//
$heading-xl: 56px;
$heading-l: 40px;
$heading-m: 32px;
$heading-s: 24px;

//* body font-size *//
$body-m: 18px;
$body-s: 16px;

//* line-height *//
$line-height-xl: 70px;
$line-height-l: 51px;
$line-height-m: 40px;
$line-height-s: 28px;

//* font-weight *//
$extra-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
